.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
 
  cursor: pointer;
  border: 0px;
}

.profile__image:hover::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
}

.profile__image-edit{
  display: none;
  width: 26px;
  height: 26px;
  translate: 47px -73px;
}

.profile__image:hover .profile__image-edit {
  display: block;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.button_profile__image {
  border: 0px;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: 0px;
  margin-right: 40px;
  padding: 0;

}

.button_profile__image:hover{
  border: 0px;
}
